release
target
build
.settings
.project
.classpath
.idea
.DS_Store
bin
gen
proguard
.pmd
*~
*.iml
tmp
gen-external-apklibs
out
app.iml
coverage
build/
.gradle/
local.properties
intermediates/*
app/build/intermediates/*
*.apk
